# dependencies
/node_modules

# testing
/coverage

# misc
.DS_Store
.gitignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Development folders and files
/.pretterrrc
/src
/example
/cypress
/babel.config.js
/cypress.json
/jest.config.js
/LICENSE
yarn.lock